h2 {
  margin-top: 1.5em;
}
p {
  font-size: 1rem;
}
ul a {
  border-bottom: 1px solid #f4f2e9;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
ul a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}

nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 65px;
  background-color: #f4f2e9;
}

header {
  width: 100%;
}

img {
  object-fit: cover;
  height: 295px;
  width: 100%;
}

.logo {
  width: 30%;
  padding: auto 0;
  margin: auto 0;
  color: #453523;
  text-decoration: none;
}

ul {
  display: flex;
 justify-content: space-between;
  width: 30%;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #f4f2e9;
  justify-content: center;
}

a.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.nav {
  font-size: 18px;
}

/* Home animation */

.letters {
color: wheat;
text-align: center;
}

.ml7 {
  position: relative;
  top: -9rem;
  font-weight: 900;
  font-size: 3rem;
  margin-left: 1rem;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.text-wrapper2 {  opacity: 0;
  color: white;
  position: relative;
  top: -13rem;
  margin-left: 1rem;;
  font-weight: 900;
}

@media (max-width: 1250px) {
  ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .logo {
    margin-left: 1rem;
  }
  .letters {
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
}

@media (max-width: 500px) {
  .logo {
    margin-left: 1rem;
    font-size: 12px;
  }

  ul {
    font-size: 10px;
  }

  .letters {
    font-size: 1rem;
    background-color: black;
  }
  .text-wrapper2 {
    font-size: 1rem;
    background-color: black;
  }
}

@media (max-width: 350px) {
  .letters {
    font-size: .85rem;
  }

  ul {
    margin-right: 1rem;
  }
}