h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
ul a {
  border-bottom: 1px solid #f4f2e9;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
ul a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}

nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 65px;
  background-color: #f4f2e9;
}

header {
  width: 100%;
}

img {
  object-fit: cover;
  height: 295px;
  width: 100%;
}

.logo {
  width: 30%;
  padding: auto 0;
  margin: auto 0;
  color: #453523;
  text-decoration: none;
}

ul {
  display: flex;
 justify-content: space-between;
  width: 30%;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #f4f2e9;
  justify-content: center;
}

a.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.nav {
  font-size: 18px;
}

/* Home animation */

.letters {
color: wheat;
text-align: center;
}

.ml7 {
  position: relative;
  top: -140px;
  left: 30px;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.text-wrapper2 {
  opacity: 0;
  color: #242020;
}

.text-wrapper2 {
  position: relative;
  top: -200px;
  left: 30px;
  font-weight: 900;
}